<div class="container">
    <h2>I have done my B.Tech from BPUT .Then I joined Tavant .Currently I am with HCL Technologies. I have completed 3 projects: ACT-PSE,UCSD,CSPC</h2>
    <h2>Technology Stack:</h2>
    <h3>1.In OOPs i know: Java</h3>
    <h3>1.In Advanced i am aware of: J2EE , Design Patterns ,Servlet</h3>
    <h3>3.In Framework i know: Spring , Hibernate ,Rest API , Microservices</h3>
    <h3>4.In Database i know: MySQL , NoSQL</h3>
    <h3>5.In Testing i know: JUnit, Mockito</h3>
    <h3>6.In UI Technologies i know: Angular8</h3>
    <h3>7.In Tools i know: Maven ,GIT, Jenkins</h3>
    <h3>8.In Devops i know: Docker , Kubernates</h3>
    <h3>8.In Cloud i know: AWS </h3>

    <span>I will add Question based on there importance:High/Moderate/Low</span>
</div>
